.results_background {
  background-color: #f0f8ff;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.result_container {
  height: auto;
  width: 80%;
  margin: 20px auto;
  margin-top: 10px;
  background-color: white;
  border-radius: 15px;
  padding: 50px;
}
.input_details {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
}
.college_info {
  margin-bottom: 0.5px solid black;
}
.pagination_nav {
  text-decoration: none;
  display: flex;
  list-style: none;
  text-decoration: none;
  margin: 30px auto;
}
.loading {
  margin: 20px;
}
